<link rel="stylesheet" href="/css/server_running.css" />

<div class="loader-container">
  <div><span class="text">SERVER RUNNING</span></div>
  <div class="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
